

a {
  text-decoration: none;
  color: #013B56;
}

img {
  width: 72px;
  height: 72px;
}

header {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
  
}

.logo {
  display: flex;
  align-self: center;
}

.links {
  display: flex;
  align-self: top;
  justify-content: space-around;
  margin-right: 150px;
  gap: 20px;

  &{
    font-size: 1.5rem;
  }

}