

a {
  text-decoration: none;
  color: #013B56;
}

img {
  width: 72px;
  height: 72px;
}

header {
  display: flex;
  justify-content: space-between;
  
}

.logo {
  display: flex;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  gap: 10px;
}